body {
  background-color: #1a1a1a !important;
  color: #e6e6e6 !important;
}

a {
  color: #999 !important;
}

/* Add more custom CSS styles here to customize the appearance of websites in dark mode */
